body{
	background: rgb(41 48 53);
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px ;

	
}

a{
	text-decoration: none;
	font-weight: bold;
	color: rgb(255 0 128);
	padding: 10px;
}

h1{
	font-size: 1.5em;
	color: rgb(41 48 53);
}

#principal{
	width: 900px;
		
}

#menu{
	background-color: rgb(209 215 222);
	padding: 15px;
	
}



#conteudo{
	background-color: rgb(235 108 142);
	color: white;
	padding: 10px;
	border: 1px solid transparent;
}

#rodape{
	text-align: center;
	color: white;
}